@media screen and (min-width: 1100px){

    body{
        background-color: $dark-cyan;
        background-image: url("../images/bg-pattern-top.svg"), url("../images/bg-pattern-bottom.svg");
        background-position: left -30% bottom -100%, right -40% bottom 200%;
        background-repeat: no-repeat, no-repeat;
        background-size: 60% auto, 65% auto;
    }
}